.center-container{
    display: flex;
    justify-content: start;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}
.center-container label {
    display: inline-block;
    width: 150px; /* Adjust width as needed */
    margin-right: 10px;
    text-align: right;
}

.center-container div {
    display: flex;
    align-items: center;
    width: 100%; /* Ensure each form item takes up the full width */
    margin-bottom: 10px; /* Add spacing between rows */
    flex-wrap: wrap; /* Allow content to wrap to the next line */
}

.center-container button{
    display: block;
    margin-left: auto;
    margin-right: 68px;
    margin-top: 60px;
}
h1{
    color : #f4d35e;
}

.title-background{
    display:flex;
    background-color: #0d3b66;
    margin-bottom: 40px;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 80px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
.form-container {
    width: 100%; 
    max-width: 600px; 
    padding: 20px; 
    border-radius: 5px; /* Optional: Add rounded corners */
    margin-top: 80px;

}
.response-message{
    width: 100%;
    margin-top: 30px;
    justify-content: center;
    margin-right: 35px;
}

