@page "/"
@using MyBlazorApp.Models
@using Microsoft.AspNetCore.Components
@using MyBlazorApp.Services
@inject StockService StockService
@inject NavigationManager NavigationManager
@using Microsoft.AspNetCore.Components.Web

<PageTitle>Your stocks</PageTitle>
<link href="css/Home.css" rel="stylesheet"/>
<div class="center-container">
    <div class="title-background">
        <h1>Your Stocks</h1>
    </div>
    @if (Stocks != null && Stocks.Any())
    {
    <table>
        <thead>
            <tr>
                <th>symbol</th>
                <th>company name</th>
                <th>purchase</th>
                <th>Last Div</th>
                <th>indestry</th>
            </tr>
        </thead>
        <tbody>
            @foreach(Stock stock in Stocks)
            {
                <StockRow Stock="stock"></StockRow>
            }
        </tbody>
    </table>
    }
    else
    {
    <p>there are no stocks</p>
    }
</div>

@code{
    private List<Stock>? Stocks;

    protected override async Task OnInitializedAsync()
    {
        await LoadData();
    }

    private async Task LoadData()
    {
        Stocks = await StockService.GetStocksAsync();            
    }

    private void RouteToStockUpdate(int stockId)
    {
        NavigationManager.NavigateTo($"/stock/update/{stockId}");
    }
    
}